*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#menu{
  
  display: block;
  position:absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 100;
}
#menu nav{
  padding-top: 15%;
  background-color: rgba(0, 0, 0, 0.671);
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: all .3s;
}
#menu nav li{
    list-style: none;
    margin-bottom: 60px;
    padding: 10px; 
    padding-left: 0;
    padding-left: 0;
}
#menu nav li:hover {
    background-color: rgba(27, 27, 27, 0.247);
    box-shadow: 0px 0px 10px black;
    transition: all .3s;
}
#menu nav li a{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    display: block;
    
}
.icon-menu{
    color: white;
    font-size: 60px;
    position: absolute;
    right: 30px;
    top: 20px;
    box-shadow: 0px 0px 15px black;
    padding: 5px;
    z-index: 100;
}
#icon-menu{
    visibility: hidden;
}





#fondo{
  display: block;
  
}
#fondo img{
  display: block;
  position: fixed;
  width: 100%; 
  height: auto;

}







#redes{
    display: block;
    position: absolute;
    bottom: 100px;
    right: 100px;
    z-index: 200;
    
}

#redes .circulo{
    display: flex;
    position: absolute;
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-top: 7px;
    align-items: center;
    justify-content: center; 
    transition: all .2s;
    
}
#circulo-instagram{
    transform: translateY(0%);
}
#circulo-facebook{
    transform: translateY(0%);
}
#circulo-mail{
    transform: translateY(0%);
}
#circulo-menu{
    
}
#circulo-menu2{
    visibility: hidden;
}
#redes div a{
    display: block;
    text-decoration: none;
    font-size: 40px;
    color: white;
}





@media screen and (max-width:1150px){
    #fondo{
        display: block;
        width: 100%;
    }
    #fondo img{
        display: block;
        position: fixed;
        width: 1150px; 
        height: 1000px;
    }
}

@media screen and (max-width:600px){
    #menu nav{
        padding-top: 30%;
    }
    
    
    
    #fondo{
        display: block;
        width: 100%;
    }
    #fondo img{
        display: block;
        position: fixed;
        width: 1150px; 
        height: 1000px;
        transform: translateX(-500px);
    }

}